/*Estilos del lado izquierdo*/
#Foto_principal img{
    width: 100%;
    height: 40%;
    position: static;
}

/*Estilo del cuadro del nombre*/
#Nombre_completo{
    position: absolute;
    right: 0%;
    width: 65%;
    height: 5%;
    background-color: #2d3e4e;
    top: 20%;
    right: 18%;
    text-align: center;
    padding-top: 3%;
    transform: skewX(-7deg);
    box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
}

/*Importación de fuente Lato Light descargada en local*/
@font-face {
    font-family: 'Lato Light';
    src: url('../source/Lato/Lato-Light.ttf') format('truetype');
}

/*Estilos al nombre dentro del cuadro*/
#Nombre_completo h1{
    font-family: 'Lato Light', sans-serif;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
}

/*Datos personales*/
.Datos_personales{
    padding-top: 10%;
    text-align: center;
}


.Datos_personales h1{
    color: white;
    margin-top: 5%;
    margin-bottom:8%;
    font-size: 1.5rem;
    font-family: 'Lato Light', sans-serif;
}

.Datos_personales b{
    color: #2d3e4e;
}

.Datos_personales p{
    font-size: 1.3em;
    margin: 3%;
}

/*Redes Sociales*/
.Redes_sociales{
    width: 100%;
    height: 38%;
    margin-top: 8%;
    text-align: center;
}

.Redes_sociales h1{
    font-family: 'Lato Light', sans-serif;
    font-size: 1.2em;
    color: #524f4e;

}

.red_social{
    margin-top: 5%;
    margin-bottom: 15%;
}

.Redes_sociales .links_social a{
    color: white;
    text-decoration: none;
}

.Redes_sociales .red_social1 img{
    width: 40%;
}

.Redes_sociales .red_social2 img{
    width: 25%;
}

.Redes_sociales .red_social3 img{
    width: 50%;
}

.red_social2{
    margin-top: 20%;
}

.red_social3{
    margin-top: 30%;
}

.linkedin{
    font-size: 1em;
    padding-top: 1%;
    position: absolute;
    width: 90%;
    height: 2%;
    left: 6%;
    background-color: #2d3e4e;
    text-align: center;
    transform: skewX(-7deg);
    box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
}


.git_hub{
    font-size: 1em;
    padding-top: 1%;
    position: absolute;
    width: 65%;
    height: 2%;
    left: 18%;
    background-color: #2d3e4e;
    text-align: center;
    transform: skewX(-7deg);
    box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
}

.hacker_rank{
    font-size: 1em;
    padding-top: 1%;
    margin-top: 4%;
    position: absolute;
    width: 55%;
    height: 2%;
    left: 22%;
    background-color: #2d3e4e;
    text-align: center;
    transform: skewX(-7deg);
    box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
}

/*Información de contacto*/
.Informacion_de_contacto{
    width: 100%;
    height: 24%;
    text-align: center;
    position: absolute;
    bottom: 0%;
}

.Informacion_de_contacto h1{
    font-family: 'Lato Light', sans-serif;
    font-size: 1.1em;
    color: #524f4e;
    text-transform: uppercase;
    margin-bottom: 7%;
}

.Informacion_de_contacto a{
    color: #2d3e4e;
    text-decoration: none;
}

.Informacion_de_contacto a img{
    inline-size: 12%;
    position: absolute;
    bottom: 2%;
    left: 45%;
}

.Informacion_de_contacto p{
    margin-bottom: 7%;
}