#Foto_principal{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilos del lado izquierdo*/
#Foto_principal img{
    width: 100%;
    height: 100%;
}

#Nombre_completo{
    position: absolute;
    top: 210px;
}


/*Estilo del cuadro del nombre*/
#Nombre_completo h1{
    display: flex;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    background-color: #2d3e4e;
    transform: skewX(-7deg);
    box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
}

/*Importación de fuente Lato Light descargada en local*/
@font-face {
    font-family: 'Lato Light';
    src: url('../source/Lato/Lato-Light.ttf') format('truetype');
}

/*Estilos al nombre dentro del cuadro*/
#Nombre_completo h1{
    font-family: 'Lato Light', sans-serif;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
}

/*Datos personales*/
.Datos_personales{
    display: flex;
    flex: 0.9;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}


.Datos_personales h1{
    color: white;
    margin-top: 5%;
    font-size: 23px;
    font-family: 'Lato Light', sans-serif;
}

.Datos_personales b{
    color: #2d3e4e;
}

.Datos_personales p{
    font-size: 22px;
}

/*Redes Sociales*/
.Redes_sociales{
    display: flex;
    flex: 1.7;
    flex-direction: column;
    justify-content: space-between;
}

.Redes_sociales h1{
    display: flex;
    font-family: 'Lato Light', sans-serif;
    font-size: 20px;
    color: #524f4e;
    justify-content:  center;
}

.red_social1{
    display: flex;
    flex: 0.7;
    flex-direction: column;
    align-items: center;
}

.red_social1 a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red_social2{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.red_social2 a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red_social3{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.Redes_sociales .links_social a{
    color: white;
    text-decoration: none;
}

.Redes_sociales .red_social1 img{
    width: 60%;
    
}

.Redes_sociales .red_social2 img{
    width: 55%;
}

.Redes_sociales .red_social3 img{
    width: 90%;
}


.Redes_sociales h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 7px;
    background-color: #2d3e4e;
    transform: skewX(-7deg);
    box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
}


/*Información de contacto*/
.Informacion_de_contacto{
    flex: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Informacion_de_contacto h1{
    font-family: 'Lato Light', sans-serif;
    font-size: 18px;
    color: #524f4e;
    text-transform: uppercase;
    text-align: center;
}

.Informacion_de_contacto a{
    color: #2d3e4e;
    text-decoration: none;
    text-align: center;
    flex: 2;
    justify-content: space-between;
}

.Informacion_de_contacto article{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Informacion_de_contacto a img{
    width: 50px;
}

.Informacion_de_contacto p{
    font-size: 16px;
}