#barra_superior{
    background-color: #0b1163;
    width: 100%;
}

#barra_superior ul{
    text-align: right;
    list-style: none;
    margin: 0;
}

#barra_superior ul a{
    text-decoration: none;
}
#barra_superior ul p{
    color: white;
}


#barra_superior li{
    display: inline-block;
    text-align: center;
    margin: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 20px;
    color: #0b1163;
    height: 100%;
    background-color: #0b1163;
    box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
}

.padding_top{
    padding-top: 25px;
}
.primary_content{
    position: absolute;
    margin-top: 0;
}
.content_title{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content_title h1{
    margin-top: 0;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 5px 8px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    transform: skewX(-7deg);
    background-color: #2d3e4e;
    box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
}

.titulo a{
    text-decoration: none;
}

.background_orange{
    display: flex;
    flex-direction: column;
}

.background_orange h2{
    color: #2d3e4e;
    padding-top: 0.5em;
    padding-left: 0.7em;
    padding-bottom: 0.2em;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

.background_orange ul{
    list-style: inside;
    padding-left: 0.8em;
    padding-bottom: 0.6em;
}

.background_orange li{
    color: #fff;
    font-size: 16px;
    font-family: 'Lato Light', sans-serif;
}

a{
    text-decoration: none;
    color:#fff
}

.background_orange p{
    color: #ffffff;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 0.2em;
    font-size: 17px;
}

.background_white{
    display: flex;
    flex-direction: column;
}

.background_white h2{
    color: #EE5722;
    padding-top: 0.5em;
    padding-left: 0.7em;
    padding-bottom: 0.2em;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

.background_white p{
    padding-top: 0.2em;
    padding-left: 1em;
    padding-bottom: 0.1em;
    font-size: 17px;
}

.background_blue{
    display: block;
}

.background_blue h2{
    color: #EE5722;
    padding-top: 0.5em;
    padding-left: 0.7em;
    padding-bottom: 0.2em;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

.background_blue p{
    color: #ffffff;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 0.3em;
    font-size: 10px;
}

.background_blue ul{
    list-style: inside;
    padding-left: 0.8em;
    padding-bottom: 0.6em;
}

.background_blue li{
    color: #fff;
    font-size: 15px;
    font-family: 'Lato Light', sans-serif;
    margin-top: 6px;
}

#cuadros{
    display: inline-block;
    width: 45%;
    margin: auto;
    vertical-align: top;
    padding-left: 3%;
    padding-bottom: 0px;
}

#cuadros h2{
    color: #EE5722;
    padding-top: 0.5em;
    padding-left: 0.7em;
    padding-bottom: 0.2em;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

#cuadros p{
    color: #fff;
    font-size: 18px;
    font-family: 'Lato Light', sans-serif;
}

.QR{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
}

.QR h2{
    display: flex;
    align-items: center;
}

.qr img{
    width: 80px;
    height: 80px;
    right: 1em;
    bottom: 2.1em;
}

.qr h3{
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-family: 'Lato Light', sans-serif;
    bottom: 0%;
    left: 0%;
    vertical-align: bottom;
    width: 100%;
    background-color: #EE5722;
    box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
}