/*reseteo de todos los estilos en 0*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(83, 87, 86, 0.726);
}

#hoja{
    display: flex;
    flex-direction: row;
    width: 793.7px;
    height: 1122.52px;
    background-color: white;
}

.lado_izquierdo{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.content_left{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}


.lado_derecho{
    flex: 5;
    display: flex;
    flex-direction: column;
}

.content_right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.orange{
    background-color: #EE5722;
}

.white{
    background-color: white;
}

.azul_oscuro{
    background-color: #2d3e4e;
}